@{
    ViewBag.Title = "Доступ запрещен";
}

<div class="col-sm-12">
    <div class="btn_wrap">
        @Html.ActionLink("На главную", "Index", "Calculator", null, new { @class = "btn btn-primary btn-large" })
    </div>
</div>